.container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;

}

.form-signin{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userName, 
.passWord {
    position: absolute;
    top: 65%;
    left: 10px;
    transform: translateY(-85%);
    font-size: 16px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    pointer-events: none; 
    color: #9da5ad;
}
input:focus + .userName, 
        input:not(:placeholder-shown) + .userName {
            top: 5px;
            left: 10px;
            font-size: 12px;
            color: #c985e7;
}
input:focus + .passWord, 
        input:not(:placeholder-shown) + .passWord {
            top: 5px;
            left: 10px;
            font-size: 12px;
            color: #c985e7;
}
.form-floating, .signin-btn {
    display: flex;
    position: relative;
    width: 350px;
    margin: 20px;
}
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
.login-form-title{
    text-align: center;
    font-size: 24px;
    color: #c985e7;
    margin: 20px;
}
.signin-btn{
    /* width: 100%;*/
    padding: 10px; 
    border: none;
    border-radius: 5px;
    background-color: #c985e7;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    justify-content: center;
}
.form-check-label{
    font-size: 14px;
    color: #9da5ad;
}
.form-check{
    top: -5%;
    position: relative;
    display: flex;
    align-self: flex-start;
    margin: 0 20px 20px;
}
.Toastify__toast {
    width: 160px !important; 
    height:3px !important;
    line-height: 3px !important;
    background-color: #000 !important;
    color: #c985e7 !important;
    max-width: 100% !important; 
    border-radius: 20px !important;
    font-size: 14px !important; 
    padding: 5px !important; 
  }
.Toastify__close-button {
display: none !important; 
}
.icon-CP {
    width: 16px;    
    height: 16px;  
    background-image: url('../assets/icons/CP.png');
    background-repeat: no-repeat;
    animation: animateCpIcon 1.5s steps(5) infinite
}
@keyframes animateCpIcon {
    100% {
        background-position-x: -80px
    }
  }

